<div class="head">Admin Menu</div>

<div class="item">
  {{#link-to  'judges.addjudge'}}
      Add judge
  {{/link-to}}
</div>
<div class="item">
  {{#link-to  'judges.manage'}}
      Manage Judge
  {{/link-to}}
</div>
<div class="item">
  {{#link-to  'lawyers.addlawyer'}}
      Add Lawyer
  {{/link-to}}
</div>
<div class="item">
  {{#link-to  'lawyers.manage'}}
      Manage Lawyer
  {{/link-to}}
</div>

<div class="item">Notifications</div>
<div class="item">Settings</div>




