
    <div class="head">Menu</div>

    <div class="item {{active}}">
      {{#link-to  'suits.new'}}
          Create New Suit
      {{/link-to}}
    </div>
    <div class="item">
      {{#link-to  'documents.entersuit'}}
          Add Document
      {{/link-to}}
    </div><div class="item">
      {{#link-to  'suits.entersuit'}}
          Add Lawyer to Suit
      {{/link-to}}
    </div>

    <div class="item">Archive Suit</div>
    <div class="item">
      {{#link-to  'suits.mana'}}
          Manage Suit
      {{/link-to}}
    </div>
    <div class="item">Manage Documents</div>
    <div class="item">
      {{#link-to  'judges.addjudge'}}
          Admin Area
      {{/link-to}}
    </div>


