<div class="suit-detail-component">
    <div class="head">Case Details</div>
    <div class="suit-item">
      {{#link-to  'manage.info' class="bolt-light"}}
          Case Info
      {{/link-to}}
        <span class="bolt-light"> </span>


    </div>
    <div class="suit-item">
      {{#link-to  'manage.plaintiffs' class="bolt-light"}}
          Plaintiffs
      {{/link-to}}
        <span class="bolt-light"> </span>


    </div>
    <div class="suit-item">
      {{#link-to  'manage.defendants' class="bolt-light"}}
          Defendants
      {{/link-to}}
        </div>
    <div class="suit-item">
      {{#link-to  'manage.lawyers' class="bolt-light"}}
          Lawyers
      {{/link-to}}

    </div>
    <div class="suit-item">
      {{#link-to  'manage.judge' class="bolt-light"}}
          Judge
      {{/link-to}}
    </div>
    <div class="suit-item">
      {{#link-to  'manage.documents' class="bolt-light"}}
          Documents
      {{/link-to}}
    </div>
    <div class="suit-item">
      {{#link-to  'manage.notifications' class="bolt-light"}}
          Notifications
      {{/link-to}}
    </div>
    <div class="suit-item">
      {{#link-to  'manage.archive' class="bolt-light"}}
          Archive Case
      {{/link-to}}
    </div>

</div>