<div class="form-addon">
    <div class="form-addon__addon">
        <span class="{{requiredClass}}">+233</span>
    </div>
    <!--<input class="form-input" data-parsley-required=required  type="text" maxlength="14" placeholder="(XXX) XXX-XXXX" />-->
  {{input required=required  maxlength="9"  data-parsley-type="digits" data-parsley-minlength="9" data-parsley-maxlength="9"   value=value class="form-input"
  placeholder=placeholder}}
</div>