<div class="suit-detail-component">
    <div class="head">Case Details</div>
    <div class="suit-item">

        <span class="bolt-light">Plaintiffs </span>
        <b class="number-circle1 bolt-light">{{plaintiffs.length}}</b>

    </div>
    <div class="suit-item">

        <span class="bolt-light">Lawyers </span>
        <b class="number-circle1 bolt-light">{{lawyers.length}}</b>

    </div>
    <div class="suit-item">
        <span class="bolt-light">Defendants </span>
        <b class="number-circle1 bolt-light">{{defendants.length}}</b>

    </div>
    <div class="suit-item">
        <span class="bolt-light">Documents </span>
        <b class="number-circle1 bolt-light">0</b>
    </div>
    <!--<b class="number-circle bolt-light">0</b>-->
</div>
