<div class="view-heading pure-u-1-1">
    <div class="text bolt-light">Manage Cases</div>
    <div class="breadcrumb flat bolt-light">
      {{#link-to  'manage'}}
          Manage Cases
      {{/link-to}} </div>
</div>
<div class="middle-box pure-u-sm-5-5 pure-u-lg-24-24 pure-u-24-19-24">
    <div class="wraps">
        <section class="pure-g section-form">
            <div class="coa"> <img src="/assets/images/coasmall.jpg"></div>
            <br>
            <div class="form-group pure-u-sm-5-5 pure-u-lg-8-24 pure-u-md-8-24">

            </div>
            <div class="form-group pure-u-sm-5-5 pure-u-lg-8-24 pure-u-md-8-24">
                <label for="name" class="form-label form-label">
                    Enter Case Number
                </label>

                <div class="form-addon">
                    <div class="form-addon__addon">
                        <i class="fa fa-clone"></i>
                    </div>
                  {{input type="text" required="true" class="form-input" value=suitNumber placeholder="Case Number"}}
                </div>
                <div class="form-footer__cta">
                    <button type="submit" {{action "findSuit"}} class="button">proceed</button>
                </div>
            </div>
        </section>
    </div>

</div>
