
<div class="pure-g" id="wrapper">
    <div class="pure-u-1-1" id="lacer-head">
        <img class="logo"><span class="tase" style="font-size: 32px;color: #fff">L A C E R</span><br>
        <img class="logo"><span class="tasemini" style="font-size: 18px;margin-bottom: 10px">Laywers Access To Court
    Electronic
    Documents</span>
    </div>
    <div class="pure-u-1-1" id="lacer-content">
    {{outlet}}
    </div>
</div>