<!--the wrapper-->
<div id="wrapper" class="pure-g">
    <!--the sidebox-->
    <div id="sideBox" class="pure-u-1-5">
        <div class="brand-logo bolt" id="brand-logo">
            LACER
        </div>
        <div class="user-box" id="user-box">
            <div class="user-img" id="user-img">
                <img src="/assets/images/user.png" width="50" height="50"/>
                <div class="user-name bolt"> Kwamena Paintsil</div>
                <div class="user-position bolt-light">Registrar</div>
            </div>
        </div>
        <div {{action "showIndex"}} id="menu-box" class="menu-box">
            <div class="item">
                <i class="fa fa-briefcase fa-2x"></i>
                <b class="bolt-light">Suits</b>

            </div>
            <div class="item">
                <i class="fa fa-file-text fa-2x"></i>
                <b class="bolt-light">Documents</b>

            </div>
        </div>
    </div>
    <!--end the sidebox-->
    <!--start content box-->
    <div id="contentBox" class="pure-u-4-5">
        <div class="top-box">
            <div class="user-options">
                <div><i class="fa fa-cog fa-2x"></i><br>
                    <span class="bolt-light">My Account</span>
                </div>
                <div><i class="fa fa-sign-out fa-2x"></i><br>
                    <span class="bolt-light">Sign Out</span>
                </div>
            </div>
        </div>
        <div class="main-box pure-g">
            <div class="view-heading pure-u-1-1">
                <div class="text bolt-light">DashBoard</div>
            </div>
            <div class="pure-u-2-24" style="">

            </div>
            <div class="middle-box pure-u-20-24">
                <div class="dashboard">
                    <div class="dashboard-head">
                        <i class="fa fa-desktop"></i>
                        <span class="bolt-light">Welcome To Lacer</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--end content box-->
</div>
<!--end the wrapper-->
